@import url(https://fonts.google.com/specimen/Outfit);

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    min-height: 100vh;
}

.card {
    width: 18em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    padding: 1em;

    img {
        max-width: 100%;
        border-radius: 1em;
    }

    .card-cta {
        text-align: center;

        .card-title {
            margin-top: 1.5em;
            color: hsl(218, 44%, 22%);
            font-size: 1.4em;
            font-weight: 700;
        }

        .card-p {
            margin: 1em 0;
            color: hsl(220, 15%, 55%);
            font-size: 1.1em;
            font-weight: 400;
        }
    }
}

.attribution {
    font-size: .7em;
    text-align: center;

    a{
        color: hsl(228, 45%, 44%);
    }
}